<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../styles/app-styles.html">

<dom-module id="fragment-layout">
  <template>
    <style include="app-styles"></style>
    <style>
    .content {
      padding: 1rem;
    }
    [hidden] {
      display: none !important;
    }
    app-header * {
      color: var(--text-primary-color);
    }

    app-header,
    app-header a {
      background-color: var(--primary-color)
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: var(--text-primary-color);
    }

    @media (max-width: 425px) {
      .content {
        padding: 0;
      }
    }
    </style>
    <app-header-layout>
      <app-header slot="header" fixed effects="waterfall">
        <app-toolbar>
          <a href="/" tabindex="-1">
            <paper-icon-button hidden$=[[!backButton]] icon="arrow-back"></paper-icon-button>
          </a>
          <div main-title>[[title]]</div>
        </app-toolbar>
      </app-header>
      <div class="content">
        <slot></slot>
      </div>
    </app-header-layout>
  </template>
  <script>
    class FragmentLayout extends Polymer.Element {
      static get is() { return 'fragment-layout'; }
      static get properties() {
        return {
          title: String,
          backButton: {
            type: Boolean,
            value: false
          }
        };
      }
    }

    window.customElements.define(FragmentLayout.is, FragmentLayout);
  </script>
</dom-module>
