<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../styles/app-styles.html">
<link rel="import" href="../player/player-avatar.html">

<dom-module id="user-menu">
  <template>
    <style include="app-styles"></style>
    <style>
    :host {
      @apply --paper-font-subhead;
    }
    div .paper-material {
      color: var(--primary-text-color);
      padding: 1rem;
    }
    .email {
      @apply --paper-font-body1;
      color: var(--secondary-text-color);
    }
    .buttons {
      text-align: right;
    }
    paper-button {
      @apply --paper-font-button;
    }
    </style>
    <firebase-auth id="auth" user="{{user}}" provider="google"></firebase-auth>
    <firebase-document path="/players/[[user.uid]]" data="{{profile}}"></firebase-document>

    <paper-menu-button horizontal-align="right" vertical-offset="64">
      <player-avatar src="[[user.photoURL]]" slot="dropdown-trigger"></player-avatar>
      <div slot="dropdown-content">
        <div class="paper-material" elevation="1">
          <p>[[user.displayName]]</p>
          <p class="email">[[user.email]]</p>
        </div>
        <div class="paper-material layout horizontal" elevation="1">
          <span class="flex">Active</span>
          <paper-toggle-button checked="{{profile.active}}"></paper-toggle-button>
        </div>
        <div class="paper-material buttons" elevation="1">
          <paper-button on-tap="signOut">
            Sign out
          </paper-button>
        </div>
      </div>
    </paper-menu-button>
  </template>
  <script>
    class UserMenu extends Polymer.Element {
      static get is () { return 'user-menu' }
      signOut () {
        this.$.auth.signOut()
      }
    }

    window.customElements.define(UserMenu.is, UserMenu)
  </script>
</dom-module>
